---
import Layout from "../layouts/Layout.astro";
import '../styles/global.css';
const abouttitle = "about me";
const identity = {
  role: 'fullstackdeveloper',
  description: 'lets build complex systems from simple systems',
  hobbies: ['writing', 'reading']
}

const skills = ['react', 'ruby', 'ruby on rails', 'sql', 'postgresql']

const cta = true
const contact = false
const socials = 2
const skillcolor = "navy"
const skillweight = 900
const skillheight = 1.5
const skillsize = "1.5rem"
---

<Layout title="learn about us" >
  <main>
    <aside>
      <h1>{abouttitle}</h1>
      <h2>I am a {identity.role}</h2>
    
      <p>{identity.description}</p>
    
      <p>{identity.hobbies.length >= 2 && 
        <p>my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}</p>
      }</p>
      <ul>
        My skils are:
        {
          skills.map((skill) => (<li class="skill">{skill}</li>))
        }
      </ul>
      {
        cta && <p>Lets chat and build applications</p>
      }
      {
        contact && <p>0712345678</p>
      }
      {
        socials === 2 ? <b>contact me on linkedin and gmail</b> : <p>linkedin</p>
      }
    </aside>
  </main>
</Layout>

<style define:vars={{skillcolor, skillheight, skillsize, skillweight}}>
  h1 {
    font-size: 4rem;
    color: purple ;
  }

  .skill {
    color: var(--skillcolor);
    font-weight: var(--skillweight);
    line-height: var(--skillheight);
    font-size: var(--skillsize);
  }
</style>