---
import { toAttributeString } from "astro/dist/runtime/server/render/util";
import Layout from "./Layout.astro";
const {frontmatter} = Astro.props
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <img src={frontmatter.image.url} width="150" height="100" alt={frontmatter.image.alt}/>
  <p>
    About the blog {frontmatter.description}
  </p>
  <p>Written by {frontmatter.author}</p>
  <b>{frontmatter.pubDate.slice(0,10)}</b>
  <div>
    {
      <div class="tags">
      {frontmatter.tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    }
  </div>

  <slot />
</Layout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>